venv/*
data/Fugro/*
data/Sensar/*
data/Ricardo/*
data_proc/tmp/*
data_proc/tmp2/*
data_proc/SOS/*
data_proc/clustering_*/*.png
data_proc/sensar_old_vs_new/*.png
data_proc/fugro_test/*
data_proc/fft_clustering/*.png

__pycache__/*
data_proc/__pycache__/*
*.egg-info/*
SOS/results/*.png

tmp/*